<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <form id=""create onsubmit="addMovie()">
        <h1>Tạo mới Movie</h1>
        <label>Name
            <input type="text" placeholder="Tên Movie" id="name">
        </label>
        <label>Country
            <select id="country">
                <th:block th:each="c:${country}">
                    <option th:value="${c.id}" th:text="${c.name}"></option>
                </th:block>
            </select>
        </label>
        <input type="submit" value="Thêm">
    </form>
</body>
</html>